h1 { text-align: center; text-shadow: 2px 2px red; background-color: white; height: 300%; border:2px solid black; border-radius:15px; background-color: black; color:white; }


h4{ text-align: center; color: black; padding-left:10px; padding-right:10px; border-style:outset; width: 100px; background-color: white ; display: inline;}

h2{ text-align: center; text-shadow: 3px 3px 3px white;}
h3 { color: white; text-shadow: 2px 2px black;}

h5 { text-align: center; color: white;}
table {
    width:50%; border: 3px solid black; border-spacing: 5px ; border-style:ridge; border-color: black ; box-shadow: 10px 5px 3px;
}

body { background-image: url(heat2.jpg); }

table#t01 tr:nth-child(even) {
    background-color: #C00000 ;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
    background-color: black;
    color: white;
}